.jumbotron{
	background-color: #55aa80;
	padding: 100px;
	color: #ffffff;
}

footer{
	padding-top:10px;
	padding-bottom:15px;
}

.navbar{
	color: #ffffff !important;
	margin-bottom: 0;
    background-color: #55aa80;
    border: 0;
    border-radius: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
}
.navbar li a, .navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0F4364 !important;
    background-color: #ffffff !important;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.errorMessageBox{
	color:#f44242;
	padding-bottom:10px;
}

.form-group p.verificationStatus.pending, .form-group p.profileVisible.private{
	color:#ff6100;
}

.form-group p.verificationStatus.verified, .form-group p.profileVisible.visible{
	color:#63c617;
}

.form-inline > .form-control{
	display:inline-block !important;
	width: inherit !important;
	margin-right:3px;
}

#profile-form .ng-enter, #profile-form .ng-leave {
	--webkit-transition: none !important;
  	transition:none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  	display: none !important;
}

#upgradeBtn.btn.btn-success {
	margin-bottom:10px;
}

div.ui-select-match{
	overflow:hidden;
}

.btn-default-focus {
  outline: none !important;
  box-shadow: none !important;
}

