<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
		<title>VTE Admin</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<style type="text/css">
			th, td {text-align:center}
		</style>
</head>
<body>

  <nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Home</a></li>
	        <li><a href="/approve">Approve tutors</a></li>
	        <li><a href="/appeals">Session appeals</a></li>
	        <li><a href="/search">Search user</a></li>
	        <li><a href="/banned">Banned users</a></li>
	        <li><a href="/report">Generate report</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/auth/logout">Logout</a></li>
	      </ul>
	    </div>
    </div>
  </nav>

  <div class="container">
    {{{body}}}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript">
    $(function() {
      $('[data-toggle="popover"]').popover();
     });
</script>

</body>
</html>
