<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div id="login-form">
        
        <div>
          <br>
        </div>
        <h1>Apply</h1>
        
        <form name="applyForm" ng-submit="submitted=true && applyForm.$valid && submit(user)" novalidate>
          <div class="form-group" ng-class="{ 'has-error': applyForm.user.$invalid && (applyForm.$submitted || applyForm.user.$dirty) }">
            <label for="text">Student Number:</label>
            <input type="text" class="form-control" name="user" ng-pattern="/^[0-9]{8}$/" ng-model="user.id" required>
            <div class="help-block">Must be a valid 8-digit UWA Student ID</div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': applyForm.firstname.$invalid && applyForm.$submitted}">
            <label for="text">First Name:</label>
            <input type="text" class="form-control" name="firstname" ng-model="user.firstName" required>
          </div>
          <div class="form-group" ng-class="{ 'has-error': applyForm.lastname.$invalid && applyForm.$submitted}">
            <label for="text">Last Name:</label>
            <input type="text" class="form-control" name="lastname" ng-model="user.lastName" required>
          </div>
          <div class="form-group" ng-class="{ 'has-error': applyForm.DOB.$invalid && applyForm.$submitted}">
            <label for="text">Date of Birth:</label>
            <input type="date" class="form-control" name="DOB" ng-model="date" required>
          </div>
          <div class="form-group" ng-class="{ 'has-error': applyForm.contactnum.$invalid && applyForm.$submitted}">
            <label for="text">Contact Number:</label>
            <input type="text" class="form-control" name="contactnum">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="control-label">Password:</label>
            
            <div class="form-group" ng-class="{ 'has-error': applyForm.pass.$invalid && (applyForm.$submitted || applyForm.pass.$dirty)}">
              <input type="password" class="form-control" ng-minlength="6" placeholder="Password" name="pass" ng-model="user.password" required>
              <div class="help-block">Minimum of 6 characters</div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': applyForm.confirm.$invalid && (applyForm.$submitted || applyForm.confirm.$dirty)}">
              <input type="password" class="form-control" name="confirm" placeholder="Confirm Password" ng-minlength="6" ng-model="password.confirm" password-match="user.password" required>
            </div>
            
          </div>
          <div class="checkbox"><label><input type="checkbox" name="checkbox" ng-model="applytutor" ng-init="applytutor=false"> Apply as a Tutor</label></div>
          <div ng-if="applytutor">
            <div class="form-group" ng-class="{ 'has-error': applyForm.units.$invalid && (applyForm.$submitted || applyForm.units.$dirty) }">
              <label for="text">Units:</label>
              <ui-select multiple tagging required tagging-label="false" name="units" ng-model="user.units" theme="bootstrap">
              <ui-select-match placeholder="Select for Units to Tutor..">{{$item}}</ui-select-match>
              <ui-select-choices repeat="unit in availableUnits | filter:$select.search">
              {{unit}}
              </ui-select-choices>
              </ui-select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': applyForm.postcode.$invalid && (applyForm.$submitted || applyForm.postcode.$dirty) }">
              <label for="text">Postcode:</label>
              <input type="text" class="form-control" name="postcode" ng-pattern="/^[0-9]{4}$/" ng-model="user.postcode" required>
            </div>
          </div>
          <div class="ngMessageBox" ng-messages="applyForm.$error">
            <div ng-message="serverError">{{errorMsg}}</div>
          </div>
          
          <button type="submit" class="btn btn-default">Submit</button>
          
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</form>
</div>
</div>
</div>
</div>