<div class="jumbotron text-center">
  <h1>UWA Guild Volunteering</h1>
  <p>Nulla vulputate quam ac erat sodales aliquam. </p>
  <div class="container">
    <a href="#!/login"><button class="btn btn-default btn-lg">Sign In</button></a>
  </div>
</div>
<div class="container-fluid text-center">
  <div class="container">
    <div class="col-sm-4">
      <h4>Tutoring is pretty good</h4>
      <h7>Nunc elementum faucibus magna quis convallis. Aenean nec tellus rutrum, viverra arcu eu, blandit nibh. Curabitur ut porttitor mi. Phasellus egestas ex maximus risus lacinia, et varius lectus tincidunt. Etiam nec tortor justo.</h7>
    </div>
    <div class="col-sm-4">
      <h4>Tutoring is pretty good</h4>
      <h7>Nulla vulputate quam ac erat sodales aliquam. Nam congue viverra odio ut dictum. Mauris ipsum lorem, facilisis sit amet bibendum ac, luctus ac velit. Proin convallis vel est ac ornare. </h7>
    </div>
    <div class="col-sm-4">
      <h4>Tutoring is pretty good</h4>
      <h7>Nulla vulputate quam ac erat sodales aliquam. Nam congue viverra odio ut dictum. Mauris ipsum lorem, facilisis sit amet bibendum ac, luctus ac velit. Proin convallis vel est ac ornare. Morbi eu tellus at purus vehicula dapibus ac sit amet est. </h7>
    </div>
  </div>
</div>