<div class="jumbotron text-center">
  <h1>UWA Guild Volunteering</h1>
  <p>Nulla vulputate quam ac erat sodales aliquam. </p>
  <div class="container">
    <a href="#!/login"><button class="btn btn-default btn-lg">Sign In</button></a>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
      <h4>Sign up for Guild Tutor Exchange!</h4>
      <h7>Tutoring is pretty good! ... Nunc elementum faucibus magna quis convallis. Aenean nec tellus rutrum, viverra arcu eu, blandit nibh. Curabitur ut porttitor mi. Phasellus egestas ex maximus risus lacinia, et varius lectus tincidunt. Etiam nec tortor justo.</h7>
  </div>
</div>