<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Tutor search</h1>

      <form name="searchBar" class="form-inline" ng-submit="submit(query)">
        <input type="text" ng-model="query" class="form-control">
        <button type="submit" class="btn btn-default">Search</button>
      </form>

      <br/><br/>

      <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="tutor in results">
          <uib-accordion-heading>
            {{tutor.name}} {{tutor.studentNumber}}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
          <h5>Contact:</h5>
          <p>{{tutor.phone}}</p>

          <h5>Bio:</h5>
          <p>{{tutor.bio}}</p>

          <h5>Units taught:</h5>
          <ul>
            <li ng-repeat="unit in tutor.units">{{unit}}</li>
          </ul>

          <h5>Languages spoken:</h5>
          <ul>
            <li ng-repeat="language in tutor.languages">{{language}}</li>
          </ul>
        </div>
      </uib-accordion>

    </div>
  </div>
</div>