
<h1>
	VTE Admin
</h1>
<br>

<p>
	Welcome, admin user.
</p>

<br>

{{#if summary}}

<p>
	You have:
	<ul>
		<li>{{summary.pending}} pending tutor{{plural summary.pending}} to approve</li>
		<li>{{summary.appeals}} session appeal{{plural summary.appeals}} to resolve</li>
	</ul>
</p>

{{/if}}
