
<h2>
	Login
</h2>

<form action="/auth/login" method="post">
	<div class="form-group">
		<label for="username"> Username:</label><br>
		<input type="text" name="username" required>
	</div>

	<div class="form-group">
		<label for="password"> Password:</label><br>
		<input type="password" name="password" reqired>
	</div>

	<br>

	<div class="g-recaptcha" style="min-height: 100px;" data-sitekey="6Lc2LhsUAAAAAOEU8kEDHlnR6_QHEnRcqTqV1tvb"></div>

	<br>

	<span style="color:red;">{{errMsg}}</span><br><br>

	<input type="submit" value="Login" class="btn btn-default">
</form>
