<div class="container">
    <h1>About</h1>
    <p>The UWA Volunteer Tutor Exchange is an online platform that allows students to find volunteer tutors for any unit they need assistance in. Students are also able to offer tutoring in units they have completed, and the time they spend can be recognised on their transcript. The service has been relaunched in 2017 with a new web app, and is open to all UWA students.</p>
    <h3>Requirements to register as a tutor for a unit</h3>
    <ul>
      <li>Obtain a credit pass (CR) in that unit</li>
      <li>Working with Children check (optional)</li>
    </ul>
    <p>All Tutor Applicants will be interviewed before they can be added to the Tutor Exchange.</p>
</div>