<div class="container">
<br>
  <h1>About</h1>
  <p>The Volunteer Tutor Exchange is an online platform that allows students to find qualified, volunteer tutors for any unit they need assistance in. Students may also apply to tutor units they have completed and the time they spend doing this will be recognised on their academic transcript. The platform is currently only open to UWA students.</p>
  <h3>Registering as a Tutor.</h3>
  <p>To get verified, all Volunteer Tutor applicants will need to send in a short video/audio recorded interview to vteuwa@gmail.com with their name and student number in the subject header and the file containing the following details:</p>
  <ul>
    <li>An introduction of yourself</li>
    <li>Why you want to apply as Volunteer Tutor for this program</li>
    <li>Choose a concept in your respective field/subject/interest area and attempt to explain it as simply and as structured as you can, as if you were doing so to your future tutee.</li>
    <br>
  </ul>
  <h4> <a href="#!/termsOfUse">Terms of Use</a> </h4>
</div>



<div class="footer"> 
  <div class="container text-center">  
  <br>
  <span class="text-muted">Created by</span>
  <br>
  <div class="container logo">
    <div class="col-md-4">
    <a href=https://www.facebook.com/codersforcauses/> 
    <img src="../images/cfcLogo.png" width="200px" height="200px"></a>
    </div>
    <br>
    <div class="col-md-4">
    <a href=http://www.volunteering.guild.uwa.edu.au/programs> 
    <img src="../images/guildLogo.png" width="160px" height="180px">
    </div>
    <br>
    <br>
    <div class="col-md-4">
    <a href=https://www.facebook.com/vteuwa/> 
    <img src="../images/logoTom3.png" width="180px" height="119px">
    </div>
    <br>
  </div>
</div>
</div>


<!-- <div class="footer"> 
  <div class="container text-center">  
  <br>
  <span class="text-muted">Created by<br></span>
  </div>
  <div class="container">
    <a href=https://www.facebook.com/codersforcauses/> 
    <img src="../images/logo3way.png" ></a>
  </div>
  </div> -->