<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div id="apply-form">
        <br>
        <h1>Apply</h1>
        <form name="applyForm" ng-submit="submitted=true && applyForm.$valid && submit(user)" novalidate>
          <div class="form-group" ng-class="{ 'has-error': applyForm.user.$invalid && (applyForm.$submitted || applyForm.user.$dirty) }">
            <label for="text">Student Number: <i class="glyphicon glyphicon-info-sign" uib-tooltip="Only UWA students may apply at this time"></i></label>
            <input type="text" class="form-control" name="user" ng-pattern="/^[0-9]{8}$/" ng-model="user.id" required>
            <div class="help-block">Must be a valid 8-digit UWA Student ID</div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': applyForm.firstname.$invalid && applyForm.$submitted}">
            <label for="text">First Name:</label>
            <input type="text" class="form-control" name="firstname" ng-model="user.firstName" required>
          </div>
          <div class="form-group" ng-class="{ 'has-error': applyForm.lastname.$invalid && applyForm.$submitted}">
            <label for="text">Last Name:</label>
            <input type="text" class="form-control" name="lastname" ng-model="user.lastName" required>
          </div>
          <div class="form-group" ng-class="{ 'has-error': applyForm.sex.$invalid && applyForm.$submitted}">
            <label for="text">Sex:</label>
            <br>
            <label class="radio-inline">
              <input type="radio" name="sex" ng-model="user.sex" value="M" required>Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="sex" ng-model="user.sex" value="F" required>Female
            </label>
            <label class="radio-inline">
              <input type="radio" name="sex" ng-model="user.sex" value="O" required>Other
            </label>
          </div>
          <div class="form-group"  ng-class="{ 'has-error': applyForm.datePicker.$invalid && applyForm.$submitted}">
            <label for="text">Date of Birth:</label>
            <div class="form-inline" ng-include="'templates/datePicker.html'"></div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': applyForm.contactnum.$invalid && applyForm.$submitted}">
            <label for="text">Contact Number:</label>
            <input type="text" ng-pattern="/^[0-9]*$/" class="form-control" name="contactnum" ng-model="user.phone">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="control-label">Password:</label>
            <div class="form-group" ng-class="{ 'has-error': applyForm.pass.$invalid && (applyForm.$submitted || applyForm.pass.$dirty)}">
              <input type="password" class="form-control" ng-minlength="6" placeholder="Password" name="pass" ng-model="user.password" required>
              <div class="help-block">Minimum of 6 characters</div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': applyForm.confirm.$invalid && (applyForm.$submitted || applyForm.confirm.$dirty)}">
              <input type="password" class="form-control" name="confirm" placeholder="Confirm Password" ng-minlength="6" ng-model="password.confirm" password-match="user.password" required>
            </div>
          </div>
          <div class="checkbox"><label><input type="checkbox" name="checkbox" ng-model="user.tutor" ng-init="user.tutor=false"> Apply as a Tutor</label></div>
          <div ng-if="user.tutor">
            <div class="form-group" ng-class="{ 'has-error': applyForm.units.$invalid && (applyForm.$submitted || applyForm.units.$dirty) }">
              <label for="text">Units: <i class="glyphicon glyphicon-info-sign" uib-tooltip="Add in all the units you can proficiently tutor"></i></label>
              <ui-select multiple required tagging-label="false" name="units" ng-model="user.units" theme="bootstrap">
              <ui-select-match placeholder="Search for Units..">{{$item.unitID}}</ui-select-match>
              <ui-select-choices  repeat="unit in availableUnits | filter: $select.search | limitTo: ($select.search.length <= 3) ? 0 : undefined">
              <span ng-bind-html="unit.unitID | highlight: $select.search"></span>
              <small ng-bind-html="unit.unitName | highlight: $select.search"></small>
              </ui-select-choices>
              </ui-select>
              <div class="help-block">Select at least one</div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': applyForm.multiLanguage.$invalid && (applyForm.$submitted || applyForm.multiLanguage.$dirty) }">
              <label for="text">Languages: <i class="glyphicon glyphicon-info-sign" uib-tooltip="Add in all the languages you can speak"></i></label>
              <p>I am able to Tutor Students in: </p>
              <div class="radio">
                <label><input type="radio" ng-model="user.multipleLanguages" value="false" name="multiLanguage" required>English Only</label>
              </div>
              <div class="radio">
                <label><input type="radio" ng-model="user.multipleLanguages" value="true" name="multiLanguage" required>Multiple/Other Languages</label>
              </div>
              <div ng-if="user.multipleLanguages === 'true'">
                <p>List all languages spoken below:</p>
                <ui-select multiple required tagging-label="false" name="languages" ng-model="user.languages" ng-init="user.languages=[{languageCode: 'en', languageName: 'English'}]" theme="bootstrap">
                <ui-select-match placeholder="Search for Languages..">{{$item.languageName}}</ui-select-match>
                <ui-select-choices repeat="lang in tutorLanguages | filter: { languageName: $select.search } | limitTo: ($select.search.length <= 1) ? 0 : undefined">
                <span ng-bind-html="lang.languageName | highlight: $select.search"></span>
                </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group" ng-class="{ 'has-error': applyForm.termsAgree.$invalid && (applyForm.$submitted || applyForm.termsAgree.$dirty) }">
            <div class="checkbox"><label><input type="checkbox" name="termsAgree" ng-model="termsAgree" required> I agree to our <a href="#!/termsOfUse" target="_blank"><b> Terms of Use </b></a></label></div>
          </div>
          <div ng-if="user.tutor" class="form-group" ng-class="{ 'has-error': applyForm.interviewAgree.$invalid && (applyForm.$submitted || applyForm.interviewAgree.$dirty) }">
            <div class="checkbox"><label><input type="checkbox" name="interviewAgree" ng-model="interviewAgree" required> I agree to be interviewed prior to being accepted as a Tutor</label></div>
          </div>
          <div class="errorMessageBox error">{{errorMsg}}</div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br>
        <br>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</body>
</form>
</div>
</div>
</div>
</div>