<div class="container">

	<br>
	<h1>Help</h1>
	<br>

	<p>
		Welcome to Volunteer Tutor Exchange.  This introduction explains how the system works and how to use the site.
	</p>


	<h3>1. Account types and user roles</h3>
	<p>
		When you signed up with VTE, you created either a student or a tutor account.  Tutor accounts are <em>upgraded</em> student accounts.  A tutor account can do anything a student account can do.  Users with tutor accounts can also have their contact details searched and can create session requests.
	</p>
	<p>
		Tutorial sessions involve two users.  One user takes the tutor role and the other takes the student role.  Users with student accounts can only take a student role in a tutoring session.  Tutors can take either role (i.e. tutors can be tutored by other tutors).  For this introduction, it is assumed that the user taking the student role has a student account.
	</p>


	<h3>2. User profile page</h3>
	<p>
		Users can see and update their profiles by clicking on the profile tab.  Please try to keep your profile up to date.  Some fields cannot be edited through the website.  Please contact an administrator to change these fields.
	</p>
	<p>
		<strong>Important note for tutors:</strong>
		The Phone, Units, Languages and Bio fields can be seen by students through the search feature.  A bio is not required to sign up and will be blank until you submit one.  You can toggle search visibility to make your profile unsearchable.
	</p>


	<h3>3. Finding a tutor / the search page</h3>
	<p>
		Students who wish to organise a tutoring session with a tutor must contact the tutor through either the phone number given or student email.  These can be found through the search page.  To search for a unit: type the unit code into the search bar, select the appropriate unit from the list when it appears and then click on the search button.  A list of tutors will be displayed below.  Click on a name to see details.
	</p>


	<h3>4. Tutoring session requests</h3>
	<p>
		As mentioned above, students initiate the scheduling of a tutoring session by contacting a tutor.  After a date and time has been agreed on, the session must be registered with the system in a two step process:
	</p>
	<ol>
		<li><strong>Tutor: </strong> Send a session request by clicking on the <em>Create new tutoring session</em> button on the sessions page (button only visable to tutors).  Fill out the form and click submit.</li>

		<li><strong>Student: </strong> You need to accept the session request.  A new entry will be created in the <em>Session Requests</em> table (you may have to click refresh at bottom of page to see it).  If the date and time are correct, press the green accept button.  Otherwise, press the red reject button and ask your tutor to send another session request.  Be sure to accept the request before the hour-long session has ended.</li>
	</ol>
	<p>
		<strong>Pro tip: </strong>
		If contacting a tutor by phone, send and accept session request before ending the call.
	</p>


	<h3>5. Canceling and rescheduling tutoring sessions</h3>
	<p>
		Tutoring sessions can be canceled or rescheduled by the tutor.  Students should contact their tutor if a session needs to be cancelled or rescheduled.
	</p>
	<p>
		A list of upcoming session is displayed in the <em>Upcoming Sessions</em> table.  Tutors can cancel/reschedule a session by clicking on the relevant button at the end of the row (only visable to tutors).  Rescheduling a session will result in a new session request.
	</p>

	<h3>6. Acknowledging completed sessions</h3>
	<p>
		In order for a tutor to receive accredited volunteer hours, both tutor and student must acknowledge the completion of the session.
	</p>
	<p>
		One day after a tutoring session has been completed, the session will move from the <em>Upcoming Sessions</em> table to the <em>Session for Sign off</em> table.  To affirm that the session has been completed, click the green tick button.  If a session was not completed, click the red cross button and enter the reason the session was not completed.
	</p>
	<p>
		All negative responses will be reviewed by a VTE team member before volunteer hours are discredited.
	</p>

	<br>
	<a href="https://goo.gl/forms/TwASylTNzFJ5xHl62" target="_blank"><button class="btn btn-primary">Send feedback / report bug</button></a>
	<br><br><br>


</div>