<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div id="login-form">
      <br>
      <h1>Login</h1>
      <br/>
        <form name="loginForm" ng-submit="submitted=true && loginForm.$valid && submit(user, rememberMe)" novalidate>
          <div class="form-group" ng-class="{ 'has-error': loginForm.id.$error && loginForm.$submitted}">
            <label for="text">Student Number: <i class="glyphicon glyphicon-info-sign" uib-tooltip="Login with a valid UWA student number"></i></label>
            <input type="text" class="form-control" name="id" ng-model="user.id" required>
          </div>
          <div class="form-group" ng-class="{ 'has-error': loginForm.password.$error && loginForm.$submitted}">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="password" ng-model="user.password" required>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="rememberMe"> Remember me</label>
          </div>
          <div class="errorMessageBox">{{errorMsg}}</div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
