<div ng-controller="NavbarCtrl">
  <nav class="navbar navbar-default navbar-static-top body" role="navigation">
    <div class="container">
      <div class = "navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="row">
            <a class="navbar-brand navbar-header" href="#" style="padding-top: 11px;">      
            <href="#" ><img src="../images/logoTom2.png" width="45px" height="32px" style= "margin-left: 10px";>
            <span>Tutor Exchange</span>
          </a>
        </div> 
      </div>
      </href="#">
      </a>
      
      <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="isLoggedIn" ng-class="{ active: isSelected('/dashboard') }"><a href="#!/dashboard">DASHBOARD</a></li>
          <li ng-show="isLoggedIn" ng-class="{ active: isSelected('/profile') }"><a href="#!/profile">PROFILE</a></li>
          <li ng-show="isLoggedIn" ng-class="{ active: isSelected('/search') }"><a href="#!/search">SEARCH</a></li>
          <li ng-show="isLoggedIn" ng-class="{ active: isSelected('/sessions') }"><a href="#!/sessions">SESSIONS</a></li>
          <li ng-show="!isLoggedIn" ng-class="{ active: isSelected('/about') }"><a href="#!/about">ABOUT</a></li>
          <li ng-show="!isLoggedIn" ng-class="{ active: isSelected('/apply') }"><a href="#!/apply">APPLY</a></li>
          <li ng-show="!isLoggedIn" ng-class="{ active: isSelected('/login') }"><a href="#!/login">LOGIN</a></li>
          <li ng-show="isLoggedIn"><a href="" ng-click="logout()">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div> 