<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div id="profile-form">
        <br>
        <h1>Profile</h1>
        <form name="profileForm" novalidate>
          <div class="form-group">
            <label for="text">Account Type:</label>
            {{accountType}}
          </div>
          <div class="form-group" ng-if="user.id">
            <label for="text">Student Number:</label>
            {{user.id}}
          </div>
          <div class="form-group" ng-if="user.email">
            <label for="text">Email Address:</label>
            {{user.email}}
          </div>
          <div class="form-group">
            <label for="text">First Name:</label>
            {{user.firstName}}
          </div>
          <div class="form-group">
            <label for="text">Last Name:</label>
            {{user.lastName}}
          </div>
          <div class="form-group">
            <label for="text">Sex:</label>
            {{user.sex}}
          </div>
          <div class="form-group">
            <label for="text">Date of Birth:</label>
            {{user.DOB | date: "dd-MM-yyyy"}}
          </div>
          <div class="form-group">
            <label for="text">Contact Number:</label>
            <p ng-if="!editMode" ng-bind="user.phone"></p>
            <input ng-if="editMode" type="text" class="form-control" ng-model="edituser.phone">
          </div>
          <div ng-if="accountType === 'tutor' || accountType === 'pendingTutor' || upgradeAccount == true">
            <div class="form-group">
              <label for="text">Units:</label>
              <p ng-if="!editMode" ng-repeat="u in user.units">{{u.unitID}}</p>
              <div ng-if="editMode" class="form-group" ng-class="{ 'has-error': profileForm.units.$invalid && (profileForm.$submitted || profileForm.units.$dirty)}">
                <ui-select multiple required tagging-label="false" name="units" ng-model="edituser.units" theme="bootstrap">
                <ui-select-match placeholder="Search for Units..">{{$item.unitID}}</ui-select-match>
                <ui-select-choices repeat="unit in availableUnits | filter: { unitID: $select.search } | limitTo: ($select.search.length <= 3) ? 0 : undefined">
                <span ng-bind-html="unit.unitID | highlight: $select.search"></span>
                <small ng-bind-html="unit.unitName | highlight: $select.search"></small>
                </ui-select-choices>
                </ui-select>
                <div class="help-block">Select at least one</div>
              </div>
            </div>
            <div class="form-group">
              <label for="text">Languages:</label>
              <p ng-if="!editMode" ng-repeat="l in user.languages">{{l.languageName}}</p>
              <div ng-if="editMode" class="form-group" ng-class="{ 'has-error': profileForm.languages.$invalid && (profileForm.$submitted || profileForm.languages.$dirty)}">
                <ui-select multiple required tagging-label="false" name="languages" ng-model="edituser.languages" theme="bootstrap">
                <ui-select-match placeholder="Search for Languages..">{{$item.languageName}}</ui-select-match>
                <ui-select-choices repeat="lang in tutorLanguages | filter: { languageName: $select.search } | limitTo: ($select.search.length <= 1) ? 0 : undefined">
                <span ng-bind-html="lang.languageName | highlight: $select.search"></span>
                </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': profileForm.bio.$invalid && (profileForm.$submitted || profileForm.bio.$dirty) }">
              <label for="text">Your Bio:</label>
              <p ng-if="!editMode" ng-bind="user.bio"></p>
              <textarea ng-if="editMode" name="bio" class="form-control" ng-maxlength="255" rows="4" cols="50" ng-model="edituser.bio">
              </textarea>
              <div ng-if="editMode" class="help-block">Max 255 Characters</div>
            </div>
            <div class="accountStatusBox" ng-if="!upgradeAccount">
              <hr>
              <div class="form-group">
                <label>Verification Status:</label>
                <p ng-show="!user.verified" class="verificationStatus pending">Pending</p>
                <p ng-show="user.verified" class="verificationStatus verified">Verified</p>
              </div>
              <div class="form-group">
                <label>Profile Visibility:</label>
                <div ng-if="(user.visible == true && !editMode) || edituser.visible == true">
                  <p class="profileVisible visible">Visible&nbsp;<a ng-if="editMode" href="" ng-click="toggleVisiblity()">Make Private</a></p>
                </div>
                <div ng-if="(user.visible == false && !editMode) || edituser.visible == false">
                  <p class="profileVisible private">Hidden&nbsp;<a ng-if="editMode" href="" ng-click="toggleVisiblity()">Make Public</a></p>
                </div>
                <div ng-if="editMode && (user.visible !== edituser.visible)" class="help-block">Press Save to Update your Visibility Status</div>
              </div>
              <hr>
            </div>
          </div>
          <div class="errorMessageBox">{{errorMsg}}</div>
          <button id="upgradeBtn" ng-if="!editMode && accountType === 'student'" type="submit" class="btn btn-success" ng-click="upgrade()" ng-cloak>Upgrade to Tutor Account</button>
          <br>
          <button ng-if="editMode && upgradeAccount" type="submit" class="btn btn-default" ng-click="profileForm.$valid && upgradeSubmit()">Submit Application</button>
          <button ng-if="!editMode" type="submit" class="btn btn-default" ng-click="edit()">Update Details</button>
          <button ng-if="editMode && !upgradeAccount" type="submit" class="btn btn-default" ng-click="profileForm.$valid && save()">Save</button>
          <button ng-if="editMode" type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
</body>
</form>
</div>
</div>
</div>
</div>