<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-6">
      <br>
      <h1>Tutor search</h1>
      <div style="line-height:75%;">
        <br>
      </div>
      <form name="searchBar" class="form" ng-submit="submitted=true && searchBar.$valid && submit(query)" novalidate>
        <p>Find the perfect Tutor to fit your needs using the search form below.</p>
        <hr>
        <div class="form-group">
          <h5>Find a Tutor: <i class="glyphicon glyphicon-info-sign" uib-tooltip="Search for a tutor by typing in a unit and the language you want to be tutored in!"></i></h5>
          <ui-select ng-model="query.units" theme="bootstrap" data-toggle="tooltip" title="Choose an address" required>
          <ui-select-match placeholder="Type to Search for Units...">{{$select.selected.unitID}}: {{$select.selected.unitName}}</ui-select-match>
          <ui-select-choices repeat="unit in availableUnits | filter: $select.search | limitTo: ($select.search.length <= 3) ? 0 : undefined">
          <span ng-bind-html="unit.unitID | highlight: $select.search"></span>
          <small ng-bind-html="unit.unitName | highlight: $select.search"></small>
          </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group" ng-if="searchLanguage">
          <ui-select ng-model="query.languages" theme="bootstrap" title="Choose an address" required>
          <ui-select-match placeholder="Type to Search for Language...">{{$select.selected.languageName}}</ui-select-match>
          <ui-select-choices repeat="lang in tutorLanguages | filter: $select.search | limitTo: ($select.search.length <= 1) ? 0 : undefined">
          <span ng-bind-html="lang.languageName | highlight: $select.search"></span>
          </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group">
          <label class="checkbox-inline"><input type="checkbox" ng-model="searchLanguage" ng-init="searchLanguage=false">Find Tutors who speak your Language</label>
          <i class="glyphicon glyphicon-info-sign" uib-tooltip="Search for a tutor who speaks your preferred language"></i>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default form-control">Search</button>
        </div>
      </form>
      <hr>
      <div class="errorMessageBox">{{errorMsg}}</div>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="col-lg-12">
      <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="tutor in results">
        <uib-accordion-heading>
        {{tutor.name}} {{tutor.studentNumber}}
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <p ng-if="tutor.bio">{{tutor.bio}}</p>
        <i ng-if="!tutor.bio">No Bio Specified</i>
        <div ng-if="tutor.phone"><h5>Contact Number:</h5><p>{{tutor.phone}}</p></div>
        <i ng-if="!tutor.phone">No Contact Number Specified</i>
        <h5>Units taught:</h5>
        <ul class="searchResultList">
          <li ng-repeat="unit in tutor.units">{{unit}}</li>
        </ul>
        <h5>Languages spoken:</h5>
        <ul class="searchResultList">
          <li class="search-result" ng-repeat="language in tutor.languages">{{language}}</li>
        </ul>
      </div>
      </uib-accordion>
    </div>
  </div>
  <br/><br/><br/>
</div>