<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3 class="modal-title">Appeal this session</h3>
</div>

<div class="modal-body" id="modal-body">
  <p>Let us know why this tutoring session wasn't completed</p>

  <form name="appealForm" ng-submit="appealForm.$valid && submit(reason)">
  	<div class="form-group" ng-class="{'has-error': appealForm.textarea.$error.maxlength}">
      <label for="text">Reason:</label>
      <textarea name="textarea" class="form-control" rows="4" cols="50" ng-maxlength="255" ng-model="reason" required></textarea>
    </div>
    <div class="errorMessageBox">{{appealForm.textarea.$error.maxlength ? "Max length is 255 characters" : ""}}</div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  
</div>
