<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h3 class="modal-title">Cancel this session</h3>
</div>

<div class="modal-body" id="modal-body">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Tutor/Student</th>
        <th>Unit</th>
        <th>My Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{appointment.date}}</td>
        <td>{{appointment.time}}</td>
        <td>{{appointment.friend}}</td>
        <td>{{appointment.unit}}</td>
        <td>{{appointment.isTutor ? 'Tutor' : 'Student'}}</td>
      </tr>
    </tbody>
  </table>

  <br/>
  <p>Are you sure you want to cancel this session?</p>
</div>

<div class="modal-footer">
  <button class="btn btn-danger" type="button" ng-click="cancelAppointment()">Yes</button>
  <button class="btn btn-primary" type="button" ng-click="close()">No</button>
</div>
