<div class="container">
  <div class="row">
    <div class="col-sm-12">

    <h1>My sessions </h1>
    <br/>

      <div id="upcoming-sessions">
        <h3>Upcoming Sessions</h3>

        <table ng-if="true" class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Tutor/Student</th>
              <th>Unit</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <p ng-if="false">You don't have any upcoming sessions</p>

      </div>
      <br/>


      <div id="signoff-sessions">
        <h3>Sessions for sign off</h3>

        <table ng-if="false" class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Tutor/Student</th>
              <th>Unit</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <p ng-if="true">You don't have any sessions to sign off</p>

      </div>
    </div>
  </div>
</div>
