<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3 ng-if="!reschedule" class="modal-title">Create a tutoring session request</h3>
  <h3 ng-if="reschedule" class="modal-title">Reschedule this session</h3>
</div>

<div class="modal-body" id="modal-body">
  <form name="sessionForm" ng-submit="sessionForm.$valid && submit(session, preFormatTime)" novalidate>

    <div class="form-group" ng-class="{'has-error': (!sessionForm.date.$pristine || sessionForm.$submitted) && sessionForm.date.$error.required}">
      <label>Date:</label>
      <div class="input-group" moment-picker="preFormatTime.date" format="DD/MM/YYYY" today="true" min-date="now">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input name="date" class="form-control" placeholder="Select a date" ng-model="preFormatTime.date" ng-model-options="{updateOn: 'blur'}" ng-required="true" autocomplete="off">
      </div>
      <div ng-show="(!sessionForm.date.$pristine || sessionForm.$submitted) && sessionForm.date.$error.required" class="errorMessageBox">Please enter a date</div>
    </div>

    <div class="form-group no-header" ng-class="{'has-error': (!sessionForm.date.$pristine || sessionForm.$submitted) && sessionForm.time.$error.required}">
      <label>Time:</label>
      <div class="input-group" moment-picker="preFormatTime.time" format="HH:mm">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <input name="time" class="form-control" placeholder="Select a time" ng-model="preFormatTime.time" ng-model-options="{updateOn: 'blur'}"  ng-required="true" autocomplete="off">
      </div>
      <div ng-show="(!sessionForm.time.$pristine || sessionForm.$submitted) && sessionForm.time.$error.required" class="errorMessageBox">Please enter a time</div>
    </div>

    <div class="form-group" ng-class="{'has-error': (!sessionForm.student.$pristine || sessionForm.$submitted) && sessionForm.student.$error.required || sessionForm.$submitted && sessionForm.student.$error.pattern}">
      <label for="text">Student Number: <i class="glyphicon glyphicon-info-sign" uib-tooltip="Enter the ID of your student"></i></label> 
      <input ng-if="!reschedule" type="text" name="student" class="form-control" ng-model="session.otherUser.userID" ng-pattern="/^[0-9]{8}$/" ng-required="true">
      <div ng-show="(!sessionForm.student.$pristine || sessionForm.$submitted) && sessionForm.student.$error.required" class="errorMessageBox">Please enter a student number</div>
      <div ng-show="sessionForm.$submitted && sessionForm.student.$error.pattern" class="errorMessageBox">Please enter a valid student number</div>
      <div ng-if="!reschedule" get-name="session.otherUser.userID"></div>
      <p ng-if="reschedule">{{session.otherUser.userID}} ({{session.otherUser.firstName}} {{session.otherUser.lastName}})</p>
    </div>

    <div class="form-group" ng-class="{'has-error': sessionForm.$submitted && sessionForm.unit.$error.required}">
      <label for="text">Unit:</label>
      <ui-select ng-if="!reschedule" name="unit" ng-model="session.unit" theme="bootstrap" title="Choose a unit" ng-required="true">
        <ui-select-match placeholder="Search for Units...">{{$select.selected.unitID}}</ui-select-match>
        <ui-select-choices  repeat="unit in availableUnits | filter: $select.search | limitTo: ($select.search.length <= 3) ? 0 : undefined">
          <span ng-bind-html="unit.unitID | highlight: $select.search"></span>
          <small ng-bind-html="unit.unitName | highlight: $select.search"></small>
        </ui-select-choices>
      </ui-select>
      <div ng-show="sessionForm.$submitted && sessionForm.unit.$error.required" class="errorMessageBox">Please select a unit</div>
      <p ng-if="reschedule">{{session.unit}}</p>
    </div>

    <div class="form-group" ng-class="{'has-error': sessionForm.comments.$error.maxlength}">
      <label for="text">Additional comments (optional):</label>
      <textarea name="comments" class="form-control" rows="4" cols="50" ng-model="session.comments" ng-maxlength="255"></textarea>
      <div ng-show="sessionForm.comments.$error.maxlength" class="errorMessageBox">Max length is 255 characters</div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
