<div class="container">
  <div class="row">
    <div class="col-sm-12">

    <h1>My sessions </h1>
    <br/>
      <div id="create_request_button" ng-if="isTutor">
        <button type="button" class="btn btn-primary" ng-click="openRequestModal()">Send tutoring session invite</button>
        <br/><br/>
      </div>

      <div id="requests">
        <h3>Session Requests</h3>

        <table ng-if="hasRequests" class="table">
          <thead>
            <tr>
              <th>Time & Date</th>
              <th>Unit</th>
              <th>With</th>
              <th>My Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="request in requests">
              <td>{{request.time | date:'HH:mm dd/MM/yyyy':'+0800'}}</td>
              <td>{{request.unit}}</td>
              <td>{{request.otherUser.firstName}} {{request.otherUser.lastName}}
                <i ng-if="request.otherUser.phone" class="glyphicon glyphicon-earphone" uib-popover="Phone: {{request.otherUser.phone}}" popover-trigger="'mouseenter'"></i>
              </td>
              <td>{{request.isTutor ? 'Tutor' : 'Student'}}
                <i ng-if="request.comments" class="glyphicon glyphicon-comment" ng-click="openCommentModal(request.comments)"></i>
              </td>
              <td>
                {{request.isTutor ? 'Waiting for response' : ''}}
                <button ng-if="!request.isTutor" type="button" class="btn btn-success" ng-click="acceptRequest(request.sessionID)">
                  Accept
                </button>
                <button ng-if="!request.isTutor" type="button" class="btn btn-danger" ng-click="openRejectModal(request, 'request')">
                  Reject
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <p ng-if="!hasRequests">You don't have any session requests</p>

      </div>
      <br/>

      <div id="appointments">
        <h3>Upcoming Sessions</h3>

        <table ng-if="hasAppointments" class="table">
          <thead>
            <tr>
              <th>Time & Date</th>
              <th>Unit</th>
              <th>With</th>
              <th>My Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="appointment in appointments" ng-class="appointment.cancelled?'strikethrough':'null'">
              <td>{{appointment.time | date:'HH:mm dd/MM/yyyy':'+0800'}}</td>
              <td>{{appointment.unit}}</td>
              <td>{{appointment.otherUser.firstName}} {{appointment.otherUser.lastName}}
                <i ng-if="appointment.otherUser.phone" class="glyphicon glyphicon-earphone" uib-popover="Phone: {{appointment.otherUser.phone}}" popover-trigger="'mouseenter'"></i>
              </td>
              <td>{{appointment.isTutor ? 'Tutor' : 'Student'}}
                <i ng-if="appointment.comments" class="glyphicon glyphicon-comment" ng-click="openCommentModal(appointment.comments)"></i>
              </td>
              <td>
                <button ng-if="appointment.isTutor && !appointment.cancelled" type="button" class="btn btn-default" ng-click="openRequestModal(appointment, 'reschedule')">
                  Reschedule
                </button>
                <button ng-if="appointment.isTutor && !appointment.cancelled" type="button" class="btn btn-danger" ng-click="openRejectModal(appointment, 'appointment')">
                  Cancel
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <p ng-if="!hasAppointments">You don't have any upcoming sessions</p>

      </div>
      <br/>


      <div id="open-sessions">
        <h3>Sessions for sign off</h3>

        <table ng-if="hasOpenSessions" class="table">
          <thead>
            <tr>
              <th>Time & Date</th>
              <th>Unit</th>
              <th>With</th>
              <th>My Role</th>
              <th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="openSession in openSessions">
              <td>{{openSession.time | date:'HH:mm dd/MM/yyyy':'+0800'}}</td>
              <td>{{openSession.unit}}</td>
              <td>{{openSession.otherUser.firstName}} {{openSession.otherUser.lastName}}</td>
              <td>{{openSession.isTutor ? 'Tutor' : 'Student'}}</td>
              <td>
                <!--
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                -->
                <button type="button" class="btn btn-success" ng-click="closeSession(openSession.sessionID)">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-click="openAppealModal(openSession.sessionID)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <p ng-if="!hasOpenSessions">You don't have any sessions to sign off</p>

      </div>
      <br/>


      <div id="refresh_button">
        <button type="button" class="btn btn-primary" ng-click="refresh()">Refresh</button>
      </div>
      <br>
    </div>
  </div>
</div>
